@import "tailwindcss";

/* ১. টেলউইন্ড v4 কে বলতে হবে আমরা 'class' ভিত্তিক ডার্ক মোড চাই */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* ২. .dark ক্লাস থাকলে ভ্যারিয়েবল চেঞ্জ হবে */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
}
